DATABASE_HOST=reedintel-pg-prod.postgres.database.azure.com
DATABASE_PORT=5432
DATABASE_NAME=reedintel
DATABASE_USER=reedadmin
DATABASE_PASSWORD=your_password_here
DATABASE_SSLMODE=require

DASH_USER=your_dashboard_username
DASH_PASSWORD=your_dashboard_password
ALLOWED_ORIGINS=http://localhost:5173

OPENAI_API_KEY=sk-...your_key_here
OPENDATABOT_API_KEY=
